/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  .landing {
    position: relative;
    background: url('../images/home/Header_Image_Home.png') no-repeat center center/cover;
    height: 100vh;
  }
  
  .landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .landing-about {
    position: relative;
    background: url('../images/about/about_header.png') no-repeat center center/cover;
    height: 50vh;
  }

  .landing-track {
    position: relative;
    background: url('../images/track/track-record-header.png') no-repeat center center/cover;
    height: 50vh;
  }
  
  .landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  body {
    background-image: url("../images/background.png"); 
  }

  nav {
    font-weight: 300;
  }

  h1 {
    font-size: 5rem;
    font-weight: 900;
    color: white;
  }

  h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  h5 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .deltablue {
    color: #3067b1;
  }
  
